<CodeSnippet Format="1.0.0">
  <Header>
    <Title>CreateAssetMenu</Title>
    <Shortcut>cam</Shortcut>
  </Header>
  <Snippet>
    <Code Language="csharp">
      <![CDATA[
[CreateAssetMenu(
    fileName = nameof($itemType$),
    menuName = $menuPath$ + nameof($itemType$))]
      ]]>
    </Code>
  </Snippet>
</CodeSnippet>